.filterForm {
    background-color: #fff;
    width: 360px;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Gray, #6c717b);

    align-self: stretch;
}

.inputWrapper {
    position: relative;
    width: 360px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: var(--Inputs, #f7f7f7);
}

.inputWithIcon {
    width: 100%;
    height: 100%;
    padding-left: 46px; /* Отступ для текста */
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

.inputWithIcon::placeholder {
    color: var(--Gray, #6c717b);
}

.icon {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 20px;
    pointer-events: none; /* Чтобы иконка не мешала вводу */
}

.filter p {
    color: var(--Text, #475467);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin: 40px 0 32px 0;
}

.fieldVehicle h3 {
    color: var(--Main, #101828);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}

.iconDivider {
    stroke-width: 1px;
    stroke: var(--Gray-light, #dadde1);
    width: 360px;
    height: 2px;
    padding: 24px 0;
}

.checkboxContainer {
    margin-bottom: 32px;
}

.checkboxGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
    column-gap: 10px;
    row-gap: 8px;
    justify-content: flex-start;
}

.checkboxLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
    border-radius: 12px;
    border: 1px solid var(--Gray-light, #dadde1);
    mix-blend-mode: multiply;
    padding: 16px 0;
}

.checkboxLabel input {
    display: none;
}

.checkboxLabel svg {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.checkboxLabel.active {
    border-radius: 12px;
    border: 1px solid var(--Button, #e44848);
    mix-blend-mode: multiply;
}

.checkboxLabel span {
    color: inherit;
}

.applyButton {
    display: flex;
    width: 166px;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 200px;
    background: var(--Button, #e44848);
    border: none;
    margin-top: 40px;

    color: var(--White, #fff);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.08px;
}

.applyButton:hover {
    background-color: #d84343;
}
