.catalog {
    display: flex;
    gap: 64px;
    padding: 120px 64px 50px 64px;
}

.filter {
    flex: 1;
    max-width: 300px;
}

.list {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
