.details {
    padding: 96px 64px 80px 64px;
    background-color: #f8f9fa;
    max-width: 1312px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.title {
    align-self: stretch;
    color: var(--Main, #101828);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 133.333%;
    padding-bottom: 8px;
}

.ratingAndLocation {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.starIcon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.rating {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--Main, #101828);
}

.location {
    display: flex;
    align-items: center;
    color: var(--Main, #101828);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.locationIcon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.price {
    color: var(--Main, #101828);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
    margin-bottom: 28px;
}

.gallery {
    display: flex;
    gap: 48px;
    margin-bottom: 28px;
}

.image {
    width: 292px;
    height: 312px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
    background: url(<path-to-image>) lightgray -57.393px -4.681px / 195.679%
        103.001% no-repeat;
}

.description {
    color: var(--Text, #475467);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 60px;
    max-width: 1312px;
}

.tabs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-bottom: 24px;
}

.tab {
    position: relative;
    color: var(--Main, #101828);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.activeTab {
}
.activeLine {
    position: absolute;
    bottom: 0;
    bottom: -26px; /* Расположение под текстом */
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 6px;
    z-index: 1;
}

.underline {
    position: absolute;
    bottom: 0; /* Расположение под вкладками */
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
}

.features,
.reviews {
    margin-top: 44px;
}

.container {
    display: flex;
    gap: 40px; /* Расстояние между колонками */
    align-items: flex-start; /* Выравнивание колонок по верхнему краю */
    margin-top: 44px;
}

.featuresSection {
    flex: 2;
    background: var(--Inputs, #f7f7f7);
    border-radius: 10px;
    padding: 44px 52px;
    max-width: 527px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
}

.icon,
.iconBlack {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 100px;
    background: var(--Gray-100, #f2f4f7);
    mix-blend-mode: multiply;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--Main, #101828);
}

.icon svg {
    width: 20px;
    height: 20px;
}

.iconBlack svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #111;
}

.detailsFeatures {
    margin-top: 100px;
}

.detailsFeatures h3 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #101828;
    margin-bottom: 24px;
}

.iconDivider {
    stroke-width: 1px;
    stroke: var(--Gray-light, #dadde1);
    width: 100%;
    height: 2px;
    margin-bottom: 24px;
}

.detailsFeatures ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.detailsFeatures li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsFeatures .label {
    flex: 1;
    color: #101828;
    font-weight: 600;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}

.detailsFeatures .value {
    flex: 1;
    color: #101828;
    font-weight: 600;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
}

.bookingForm {
    border-radius: 10px;
    border: 1px solid var(--Gray-light, #dadde1);
    padding: 44px 57px;
    display: flex;
    flex-direction: column;
    width: 641px;
    box-sizing: border-box;
}

.bookingForm h3 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #101828;
    margin: 0 0 8px 0;
}

.bookingDescription {
    align-self: stretch;
    color: var(--Gray, #6c717b);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
}

.bookingForm form {
    text-align: center;
}

.bookingForm form input {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    margin-bottom: 14px;
    border: none;
    border-radius: 12px;
    background: var(--Inputs, #f7f7f7);
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
}

.bookingForm form .dateInput {
    width: 525.667px;
}

.bookingForm form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    margin-bottom: 14px;
    border: none;
    border-radius: 12px;
    background: var(--Inputs, #f7f7f7);
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    height: 118px; /* Устанавливаем фиксированную высоту */
    resize: none; /* Запрещаем изменение размера вручную */
}

.bookingForm form > button {
    width: 166px;
    height: 56px;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background: var(--Button, #e44848);
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.08px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reviews {
    flex: 2; /* Расширяем на 2 части */
    box-sizing: border-box;
    max-width: 631px;
}

.review {
    margin-bottom: 44px;
}

.review:last-child {
    margin-bottom: 0;
}

.reviewHeader {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 0px;
}

.reviewAvatar {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: var(--Badges, #f2f4f7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 133.333%;
    color: var(--Button, #e44848);
    flex-shrink: 0;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;
}

.reviewerName {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #101828;
    margin-bottom: 4px;
}

.reviewerRating {
    display: flex;
    gap: 4px;
}

.reviewerRating svg {
    width: 16px;
    height: 16px;
}

.reviewText {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--Text, #475467);
    margin-top: 16px;
}
